// styles for media components
.media_button {
  background: red;
  border-radius:50%;
  height: 7rem;
  width: 7rem;
  margin: 2rem;
}

.media_progress {
  border-radius: 2.5rem;
  border:0;
}

.media_time {
  
}