$colour-primary:#78ffd6;
$colour-primary-hover:#7BEBC9;
$colour-secondary:#955cf1;
$colour-secondary-hover: #7843ce;

$colour-tertiary:#fff;

$white-colour-1: #F0F0F0;
$white-colour-2: #F9F9F9;

$dark-colour-1:#1F1F1F;
$dark-colour-2:#2A2929;

$font: "KayakSans";

$grey-light-1:#F3F3F3;
$grey-light-2:#F6F6F6;
// dark
$grey-dark-1:#E7E7E7;
$grey-dark-2:#E3E2E2;