.card-container {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	position: relative;
}
.card {
	position: relative;
	height: auto;
	padding: 1rem;
	padding-top: 5%;
	width: 60rem;
	height: 60rem;
	min-height: 100%;
	border-radius:20%;
	margin: 0 2rem;
	// @include bgGrad2(-180deg);
	@include respond(phone) {
		height: 60rem;
		width: 100%;
		border-radius:10%;
		// padding: ;
		margin: 0;
		// background: $dark-colour-2;
	}
	@include respond(phone-xs) {
		height: 60rem;
		width: 100%;
		// padding: ;
		border-radius:1.5rem;
		margin: 0;
	}
	background: $colour-tertiary;
	// z-index: 1;
	// border:3px solid rgba($colour-secondary,1.25);
	box-shadow:2px 1px 4.5rem 8px rgba(0,0,0,.15);
	&__title {
		text-align: center;
		margin: 0 auto;
		width: 50%;
		@include respond(phone) {
			width: 100%;
		}
		
	}
	&__image {
		height: 15rem;
		width: 15rem;
		position: absolute;
		left: 0%;
		top:0;
		border-radius:100%;
		// z-index: 1;
		border:.5rem solid $colour-secondary;
		background: $white-colour-1;
		transform:scale(1);
		transition: all .3s;
			
		@include respond(phone) {
			width: 12rem;
			height: 12rem;
			top:18rem;
			left: 2.5rem;
		}
		@include respond(phone-xs) {
			width: 9rem;
			height: 9rem;
			top:20rem;
			left: 1rem;
		}
		&:hover {
			transform:scale(.95);
		}
	}
	h5 {
		font-style: italic;
		margin-top: 2.5rem;
		// align-self:center;
		color:$colour-secondary;
	}
	&__desc {
		padding-top: 0rem;
		// padding: 1rem;
		// padding: 4rem 5rem;
		color:$colour-tertiary;
		
	}
	
	&__info--length {
		transform:scale(1);
		transition: all .3s;
		&:hover {
			transform:scale(.95);
		}
		background: $dark-colour-2;
		width: 16rem;
		height: 16rem;
		margin: 0 auto;
		border-radius:25rem;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		align-items:center;
		position: absolute;
		left:0;
		bottom:0rem;
		border:.5rem solid $colour-secondary;
		color:$colour-secondary;

		@include respond(phone) {
			width: 14rem;
			height: 14rem;
			top:42rem;
			left:2rem;
		}
		@include respond(phone-xs) {
			width: 12rem;
			height: 12rem;
			top:46rem;
			left:1rem;
		}
	}
	&__info--desc {
		padding-bottom: 2rem;
		
	}
	&__info--round {
		transform:scale(1);
		transition: all .3s;
		&:hover {
			transform:scale(.95);
		}
		height: 25rem;
		width: 25rem;
		border-radius:50%;
		background: $dark-colour-1;
		// padding: ;
		padding: 2rem;
		border:.5rem solid $colour-secondary;
		position: absolute;
		right:-8rem;
		display:flex;
		align-items:center;
		top:20rem;
		@include respond(phone) {
			// width:auto;
			padding: 1rem;
			top:20rem;
			right:1rem;
		}
		@include respond(phone-xs) {
			// width:auto;
			padding: 1rem;
			top:25rem;
			right:1rem;
		}
		p {
			line-height: 1.5;
			font-style: italic;
			&:before {
				content:"Description";
				position: absolute;
				top:2rem;
				left:7rem;
				color:$colour-secondary;
				font-weight: bold;
				font-size: 2rem;
			}
		}
	}
	&__btn {
		padding-bottom: 1rem;
		// position: absolute;
		position: absolute;
		bottom:10rem;
		right:25rem;
		// background: #000;
		@include respond(phone) {
			// width:auto;
			padding: .5rem;
			top:42rem;
			right:1rem;
		}
		@include respond(phone-xs) {
			// width:auto;
			padding: .5rem;
			top:45rem;
			right:1rem;
		}
		.btn__full--secondary {
			width: 10rem;
			margin-top: 5rem;
			height: 10rem;
			border-radius:50%;
			background: transparent;
			color:$colour-secondary;
			transform:scale(1);
			&:hover {
				transform:scale(1.05);
			}
			@include respond(phone-xs) {
			// width:auto;
			width: 8rem;
			height: 8rem;
			padding: .5rem;
			
			}
		}
	}
}