.lds-container {
  
  background: rgba($dark-colour-2,1);
  width: 60rem;
  height: 60rem;
  display:flex;
  justify-content:flex-start;
  position: relative;
  // z-index: ;
  align-items:center;
  border-radius:50%;
  margin: 0 auto;
  animation: shrinkExpand 2.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  // animation-delay:1s;
  transform:scale(1);
  h2 {
    color:$colour-tertiary;
    // flex-wra
    position: absolute;
    margin-left:8rem;
    // align-self:flex-start;
    // top:0;
    // transform:rotate(-45deg);
  }
  

  // Our skeleton
 
  
  &-skel {
    display:flex;
    align-items:center;

     &--duration, 
     &--about, 
     &--img {
      display:flex;
      align-items:center;
      justify-content:center;
      position: absolute;
      height:15rem; 
      width:15rem;
      background: rgba($dark-colour-2,1);
      border-radius:100%;
      transform:translateY(0);
      animation: move 2.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      border:.5rem solid $colour-secondary;
     }
      
     p{
      color:$dark-colour-2;
      padding: 1rem;

      &:before {
        content:"?";
        font-size: 6rem;
      }
     }
     &--img {
      left: 0;
      top:0;
      animation-delay: .3s;
     }

     &--about {
        height: 25rem;
        width: 25rem;
        right: -8rem;
        bottom:15rem;
        // bottom:0;
        animation-delay: .2s;
     }

     &--duration{
      height: 16rem;
      width: 16rem;
      left:0;
      bottom:0;
      animation-delay: .1s;
     }
  }
 
}

