
.footer {
  position: relative;
  bottom:0;
  left: 0;
  width: 100%;
  height: auto;
  background: $colour-secondary-hover;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__legal {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-left: auto;
    width: 100%;
  }
  &__legalImage {
    height: auto;
    width: 35rem;
     @include respond(tab-port) {
      width: 25rem;
    }
  }
  &__author {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    top:5rem;
    @include respond(tab-port) {
      top:0;
    }
  }
  &__github {
    display: inline-block;
    margin-left: 1rem;
    color:$colour-tertiary;
  }
}

