.loader-container {
  height: 100vh;
  max-height:100%;
  background: rgba($colour-tertiary,0.25);
  width: 100%;
  position: relative;
  top:0rem;
  margin-top: 4rem;

  .lds-ripple { //! only for forms
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 48.5%;
    z-index: 1;
    top:22rem;
    // transform:translate(50%,50%);
    @include respond(tab-land) {
      left: 45.5%;
      top:9rem;
      // background:red;
    }
    @include respond(big-desktop) {
      left: 48.5%;
      top:50%;
    }
    
  }
  .lds-ripple div {
    position: absolute;
    border: 3px solid $colour-secondary;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  .lds-facebook { // ! used for search
    display: inline-block;
    width: 110px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 14px;
    background: $colour-primary;
    animation: lds-facebook 2.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 10px;
    animation-delay: -0.48s;
  }
  .lds-facebook div:nth-child(2) {
    left: 30px;
    animation-delay: -0.36s;
  }
  .lds-facebook div:nth-child(3) {
    left: 50px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(4) {
    left: 70px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(5) {
    left: 90px;
    animation-delay: 0s;
  }

  .lds-facebook div:nth-child(6) {
    left: 10px;
    animation-delay: 0.48s;
  }
  .lds-facebook div:nth-child(7) {
    left: 30px;
    animation-delay: 0.36s;
  }
  .lds-facebook div:nth-child(8) {
    left: 50px;
    animation-delay: 0.24s;
  }
  .lds-facebook div:nth-child(9) {
    left: 70px;
    animation-delay: 0.12s;
  }
  .lds-facebook div:nth-child(10) {
    left: 90px;
    animation-delay: 0s;
  }
  @keyframes lds-facebook {
    0% {
      top: 0px;
      height: 64px;
      background: $colour-tertiary;
      // z-index: 1;
    }
    25%{
      background: $colour-secondary;
      z-index: 4;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
      background: $colour-tertiary;

    }
  }
}