// media container/wrapper styles (for LAYOUT)
.media {
  width: 100%;
  background: linear-gradient(105deg, 
    $colour-secondary 24%, 
    $colour-tertiary 24%);
  display:flex;
  height: auto;
  justify-content:flex-start;
  align-items:center;
  position: sticky;
  left:0;
  bottom:0;
  box-shadow:0 1px 25px 3px rgba($dark-colour-1,0.05);
  z-index: 1;
  border:0;
  &-player {
    display:none;
    // visibility:hidden;
  }
  &-controls {
    display:flex;
    justify-content:space-around;
    align-items:center;
    display:flex;
    padding: .5rem;
    position: relative;
  }
  &-details {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 10rem;
    width: 25%;
    border-right:1px solid rgba($dark-colour-1,0.15);
    background: rgba($colour-secondary,.25);
    height: inherit;
    &-name {
      // margin-left: 1rem;
      width: 50rem;
      padding-left: 1rem;
    }
  }
  &-img {
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    img{
      width: 12rem;
      padding: 1rem;
      padding-top: 1.4rem;
      height: 12rem;
    }
  }
}

