.nav {
	background: $dark-colour-2;
	display:flex;
	justify-content:flex-end;
	height: 6rem;
	align-items:center;
	&__brand {
		// flex-grow:1;
		margin: 0;
		margin-left: 1.5rem;
		&--name {
			color:$colour-tertiary;
			@include font(bold);
		}
	}
	&__legal {
		text-align: center;
		margin: 0 auto;
		&--logo {
			display:flex;
			height: 2.5rem;
			// width: 100%;
		}
	}
	&__btn {
		margin-right: 1.5rem;
		// padding: 1.5rem;
	}
	&__btn a {
		// color:$colour-tertiary;
		text-decoration:none;
		
	}
}