.resultList {
  // overflow-y:scroll;
  width: 80%;
  display:flex;
  justify-content:center;
  align-self:center;
  flex-direction:column;
  @include respond(big-desktop) {
        // height:40rem;
        width: 50%;
        border-radius:8rem;
    }
}