.results {
	width: 100%;
	background:$dark-colour-1;
	// margin: 1rem auto;
	margin-top: 2rem;
	padding: 0;
	
	&__pod {
		background: $dark-colour-1;
		color:$colour-tertiary;
		// margin-bottom: 1rem;
		height: 10rem;
		display:flex;
		align-items:center;
		justify-content:space-around;
		transition: 0.1s all;
		&:hover {
			background: rgba($colour-secondary, 0.25);
		}
		&-details {
			display:flex;
			align-items:center;
			width: 100%;
			justify-content:center;
			// text-align: center;
			margin: 0 auto;
			margin-left: 3rem;
			// margin-right: 1rem;
		}
		&-name {
			margin-right: 3rem;
			margin-left: 0.5rem;
			width: 100%;
		}
		&-genre {
			// margin-right: 5rem;
			width: 100%;
		}
		&-author {
			// margin-right: 2.5rem;
			width: 100%;
		}
		&-length {
			// margin-right: 2rem;
			width: 100%;
		}
		&-btn {
			margin-right: 10rem;
			width: 6rem;
			height: 6rem;
			border-radius:50%;
			background: transparent;
			&:hover {
				cursor:pointer;
			}
		}
		&-image {
			// position: absolute;
			height: 8rem;
			width: 8rem;
			// margin-right: 1rem;
		}
	}
}